
/* Variables */

:root{
	--basic-red: #EE3643;

	--basic-green: #63A63E;
	--special-greenlight:#8ED78F;
	--special-dark-green: #518534;

	--navy-blue: #1D2739;
	--special-blue:#3BBCE3;
	--special-blue-dark: #212A3A;
	--blue-active: #161D29;

	--special-yellow-darker: #FFC047;
	--special-yellow:#FFBF47;
	--special-yellowlight:#FFD180;

	--basic-beige: #F7F3EC;

	--special-lilac:#DC91D8;

	--basic-black:#000000;

	--white-grey: #F9F5F0;
	--basic-white:#FFFFFF;
	--light-grey:#EAEAEA;
	--basic-greylight:#C5C5C5;
	--grey-muddy: #A9A9A9;
	--h-grey: #F2F6F8;

	--main-theme: #32425C;
	--main-theme-darker:#293449;

	--basic-background:#F1F5F7;
	--color-success:#5FBB2D;
	--color-worning:#FFBF47;
	--color-error:#BA2732;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

/* Global */

body{
	min-width: 960px;
	font-size: 18px;
	color: var(--basic-white);
	font-family: 'Cuprum', sans-serif;
	font-weight: 400;
	background-color: var(--colour-width);
	margin: 0;
	padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button{
	border: none;
}


/*====================================================*/
/*======================Index=========================*/
/*====================================================*/

/*Header*/
	/*1st part*/
.header-search-wrapper{
	background-color: var(--main-theme-darker);
}

.logo-wrapper{
	background-color: var(--basic-red);
	box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.logo-wrapper:active{
	background-color: var(--color-error);
}

.button-search{
	background-color: transparent;
}

.button-search svg{
	opacity: .3;
}

.button-search svg:hover{
	opacity: 1;
}

input[type="search"]{
	line-height: 24px;
	border: none;
	background-color: transparent;
	color: var(--basic-white);
}

input[type="search"]:focus{
	background-color: var(--basic-white);
	color: var(--basic-black);
}

header li{
	line-height: 24px;
	list-style: none;
}

header a{
	color: var(--basic-white);
}

.checkout{
	color: var(--basic-white);
	background-color: var(--color-success);
}

.bookmarks:active,
.shoping-cart:active{
	background-color: var(--blue-active);
	color: rgba(255, 255, 255, .5);
}

.checkout:active{
	background-color: var(--basic-green);
	color: rgba(255, 255, 255, .5);
}

	/*2nd part*/

.header-background{
	background-color: var(--basic-background);
}

.brief-info{
	line-height: 23px;
	color: var(--basic-red);
	font-style: italic;
}

.header-contacts a{
	border: 2px solid var(--basic-white);
	color: var(--basic-red);
	font-size: 21px;
	font-weight: 700; 
	line-height: 30px;
}

.header-contacts p{
	color: var(--main-theme-darker);
	font-size: 14px;
	line-height: 24px;
}

.login-registration a{
	font-size: 21px;
	line-height: 21px;
	color: var(--basic-black);
	background-color: var(--basic-white);
}

.login-registration a:hover{
	color: var(--basic-red);
}

.login-registration a:active{
	color: var(--basic-greylight);
}

header nav{
	background-color: var(--main-theme);
	box-shadow: inset 0px -5px 0px var(--main-theme-darker);
}

header nav a:hover{
	background-color: var(--main-theme-darker);
}

header nav a:active{
	background-color: var(--navy-blue);
	color: rgba(255, 255, 255, .5);
	box-shadow: inset 0px -5px 0px var(--main-theme-darker);
}

/*body-part*/
	/*offers*/

.offers a{
	background-color: rgba(255, 255, 255, .3);
	color: var(--basic-white);
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.offers-cards{
	font-size: 700;
	font-size: 24px;
	line-height: 30px;
}

.materials{
	background-color: var(--special-yellow);
}

.instrument{
	background-color: var(--special-blue);
}

.technic{
	background-color: var(--special-lilac);
}

.sales{
	background-color: var(--special-greenlight);
}

.delivery{
	background-color: var(--special-yellow-darker);
}

.offers-carts a:hover{
	background-color: rgba(197, 197, 197, .3);
}

.offers-carts a:active{
	background-color: rgba(169, 169, 169, .3);
}

	/*Popular*/
		/*1st part*/

.popular-wrapper{
	background-color: var(--white-grey);
}

.popular-wrapper h2{
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--main-theme);
}

.popular-wrapper a{
	background-color: var(--basic-red);
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	color: var(--basic-white);
}



.past-price{
	color: var(--grey-muddy);
	text-decoration: line-through;
	font-size: 17px;
	line-height: 18px; 
}

.present-price{
	color: var(--basic-white);
	font-size: 17px;
	line-height: 18px;
	font-weight: 700; 
	background-color: var(--basic-red);
}

		/*2nd part*/

.manufacturers li{
	border: 1px solid var(--light-grey);
}

.manufacturers li:hover{
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.manufacturers li:active{
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
	filter: opacity(.5);
}

	/*Serveces*/

.serveces{
	background-color: var(--basic-background); 
}

.serveces h2{
	font-size: 30px;
	line-height: 30px;
	color: var(--basic-black);
	text-transform: uppercase;
}

.serveces p{
	font-family: PT Sans;
	font-weight: 400;
	font-size: 13px;
	line-height: 24px;
	color: var(--basic-black); 
}

.serveces h3{
	font-size: 30px;
	line-height: 30px;
	color: var(--main-theme);
	text-transform: uppercase;
}

	/*Company*/

.about-company{
	color: var(--basic-black);
}

.about-company h2{
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.about-company p{
	font-family: PT Sans;
	font-weight: 400;
	font-size: 13px;
	line-height: 24px;
}

.about-company span{
	display: block;
	width: 25px;
	height: 2px;
	background-color: var(--basic-red);
}

.about-company li{
	list-style: none;
}

.about-company a{
	line-height: 24px;
	color: var(--basic-black);
}

.about-company .url-about-company{
	background-color: var(--basic-red);
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	color: var(--basic-white);
}

	/*Contacts*/

.contacts h3{
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-black);
}

.contacts p{
	font-size: 13px;
	line-height: 24px;
	font-family: PT Sans;
	font-weight: 400;
	color: var(--basic-black);
}


.contacts-help{
	background-color: var(--basic-red);
	color: var(--color-width);
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
}

/*footer*/
	/*1st part*/

footer>div:first-child{
	background-color: var(--main-theme);
}

footer>div:last-child{
	background-color: var(--main-theme-darker);
}

footer p,
.number{
	line-height: 24px;
	color: var(--basic-white);
}

.footer-nav li,
.footer-offers li{
	list-style: none;
}

.footer-nav a{
	color: var(--basic-white);
	line-height: 24px;
}

.footer-offers a{
	color: var(--special-yellowlight);
	line-height: 24px;
}

.footer-nav a:hover,
.footer-offers a:hover{
	text-decoration: underline;
}

.footer-nav a:active,
.footer-offers a:active{
	text-decoration: underline;
	opacity: .5;
}

	/*2nd part*/

footer address{
	font-size: 16px;
	line-height: 18px;
	font-style: normal;
}

.social-networks li{
	list-style: none;
}

.social-networks div{
	background-color: var(--special-blue-dark);
	width: 44px;
	height: 44px;
	border-radius: 50%;
}

.footer-second-layer h4{
	font-style: 16px;
	line-height: 18px;
}

.feedback a,
.developed a{
	font-style: 16px;
	line-height: 18px;
	color: var(--special-yellowlight);
}


.social-networks div:hover,
.social-networks div:active{
	background-color: var(--basic-red);
}

.feedback a:hover,
.developed a:hover{
	text-decoration: underline;
}

.feedback a:active,
.developed a:active{
	color: var(--basic-red);
	text-decoration: none;
}

/*===================================================*/
/*====================Catalog========================*/
/*===================================================*/

/*Header*/
	/*Profile*/

.profile-name-wrapper{
	background-color: var(--basic-white);
}

.profile-name a{
	color: var(--basic-black);
	font-size: 21px;
	line-height: 21px;
}

.profile-navigation a{
	color: var(--main-theme);
	font-size: 16px;
	line-height: 18px;
}

.icon-logout svg,
.icon-logout svg:active{
	fill: var(--basic-greylight);
}

.icon-logout svg:hover{
	fill: var(--main-theme);
}

.profile-name a:active{
	color: var(--basic-greylight);
}

.profile-navigation a:hover{
	color: var(--basic-red);
}

.profile-navigation a:active{
	color: var(--basic-greylight);
}

/*body-parts*/
	/*breadcrumbs*/

.breadcrumbs a{
	font-family: PT Sans;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
	color: var(--basic-black);
	text-transform: uppercase;
}

.product h2{
	font-weight: 400px;
	color: var(--main-theme);
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	background-color: var(--h-grey);
}

	/*filter*/

.filter h4,
.sort h4{
	font-size: 13px;
	line-height: 18px;
	font-family: PT Sans;
	font-weight: 400;
	background-color: var(--basic-beige);
	color: var(--basic-black);
	text-transform: uppercase;
}

.filter legend{
	font-family: PT Sans;
	font-weight: 700;
	font-size: 17px;
	line-height: 30px;
	color: var(--basic-black);
	text-transform: uppercase;
}

.filter fieldset{
	border: none;
	border-bottom: 1px solid var(--light-grey);
}

.filter .last-child{
	border: none;
}

.filter-manufacturers label,
.filter-power label{
	font-family: PT Sans;
	font-weight: 400;
	font-size: 15px;
	line-height: 19px;
	color: var(--basic-black);
	text-transform: uppercase;
}

.filter input[type="submit"]{
	border: 1px solid var(--light-grey);
	background-color: transparent;
	font-family: PT Sans;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
}

	/*sort*/

.sort{
	background-color: var(--basic-beige);
}

.sort li{
	list-style: none;
}

.sort a{
	color: var(--basic-greylight);
	border-bottom: 1px dotted var(--basic-red);
	font-family: PT Sans;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
}

.sort .icon-sort{
	border: none;
}

.sort-up svg{
	transform: rotate(180deg);
}

.icon-sort svg{
	fill: var(--basic-greylight);
}

.sort a:hover{
	color: var(--basic-black);
	border-bottom: 1px solid var(--basic-red);
}
.sort .icon-sort:hover{
	border:none;
}

.icon-sort:hover svg{
	fill: var(--basic-black);
}

.sort-active a{
	border: none;
	color: var(--basic-red);
}

.sort-active svg{
	fill: var(--basic-red);
}

	/*articles*/

article{
	border: 1px solid var(--light-grey);
}

article a{
	color: var(--basic-black);
	line-height: 20px;
}

article h3{
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
}

article:hover{
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.purchase-offers li:first-child a:hover{
	background-color: var(--color-success);
}

.purchase-offers li:first-child a:active{
	background-color: var(--special-dark-green);
}

.purchase-offers li:last-child a:hover{
	border-color: var(--main-theme);
}

.purchase-offers li:last-child a:active{
	opacity: .3;
}



.purchase-offers a{
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.purchase-offers li:first-child a{
	background-color: var(--basic-green);
	color: var(--basic-white);
	box-shadow: inset 0px -3px 0px #367315;
}

.purchase-offers li:last-child a{
	border: 3px solid var(--basic-green);
	background-color: transparent;
}

.pages a{
	border: 1px solid var(--light-grey);
	color: var(--basic-black);
	font-family: PT Sans;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 18px;
}

.pages .active-pages{
	border: none;
	background-color: var(--basic-red);
	color: var(--basic-white);
}

.pages a:hover{
	border-color: var(--basic-greylight);
}

.pages a:active{
	border-color: var(--basic-red);
}

	/*description*/

.product-description{
	background-color: var(--basic-background);
}

.product-description h2{
	color: var(--basic-black);
	text-transform: uppercase;
	font-size: 30px;
	line-height: 30px;
}

.product-description p{
	font-family: PT Sans;
	color: var(--basic-black);
	font-size: 13px;
	line-height: 24px;
}
