
/* Variables */

:root{
	--basic-red: #EE3643;

	--basic-green: #63A63E;
	--special-greenlight: #8ED78F;
	--special-dark-green: #518534;

	--navy-blue: #1D2739;
	--special-blue: #3BBCE3;
	--special-blue-dark: #212A3A;
	--blue-active: #161D29;

	--special-yellow-darker: #FFC047;
	--special-yellow: #FFBF47;
	--special-yellowlight: #FFD180;

	--basic-beige: #F7F3EC;

	--special-lilac:#DC91D8;

	--basic-black:#000000;

	--white-grey: #F9F5F0;
	--basic-white: rgb(255, 255, 255);
	--light-grey: #EAEAEA;
	--basic-greylight: #C5C5C5;
	--grey-muddy: #A9A9A9;
	--h-grey: #F2F6F8;

	--main-theme: #32425C;
	--main-theme-darker: #293449;

	--basic-background: #F1F5F7;
	--color-success: #5FBB2D;
	--color-worning: #FFBF47;
	--color-error: #BA2732;

	--rgb-basic-white: 255, 255, 255;
	--rgb-basic-black:0, 0, 0;
	--rgb-basic-greylight: 197, 197, 197;
	--rgb-grey-muddy: 169, 169, 169;
}


.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

/* Global */

body{
	min-width: 960px;
	font-size: 18px;
	color: var(--basic-black);
	font-family: 'Cuprum', sans-serif;
	font-weight: 400;
	background-color: var(--basic-white);
	margin: 0;
	padding: 0;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

.button{
	border: none;
}

.container{
  width: 940px;
  margin: 0 auto;
}

/*====================================================*/
/*======================Index=========================*/
/*====================================================*/

.page{
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/*Header*/
	/*1st part*/
.header-actions-wrapper{
	background-color: var(--main-theme-darker);
}

.header-actions-container{
  display: flex;
}



.logo-wrapper{
	background-color: var(--basic-red);
	box-shadow: inset 0px -5px 0px rgba(var(--rgb-basic-black), 0.24);
  width: 220px;
  padding: 12px 57px 15px 55px;
  box-sizing: border-box;
}

.logo-wrapper:active{
	background-color: var(--color-error);
}

.logo-link:focus,
.logo-link:hover{
	opacity: .5;
}

.button-search{
	background-color: transparent;
}

.icon-search{
	opacity: .3;
}

.icon-search:hover,
.icon-search:focus{
	opacity: 1;
}

.header-actions{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 450px;
}

.header-input-search{
	line-height: 24px;
	border: none;
	background-color: transparent;
	color: var(--basic-white);
}

.header-input-search:focus{
	background-color: var(--basic-white);
	color: var(--basic-black);
}

.header-form-search{
  width: 271px;
  display: flex;
}

.header-input-search:hover::placeholder{
	color: var(--basic-white);
}

.action-list{
	line-height: 24px;
	list-style: none;
  display: flex;
}

.header-bookmarks,
.header-shoping-cart,
.header-checkout{
	color: var(--basic-white);
  display: block;
  margin: auto;
  text-align: center;
}

.header-action-active{
	background-color: var(--basic-red);
}

.header-checkout{
  width: 150px;
}

.header-checkout{
	color: var(--basic-white);
	background-color: var(--color-success);
}

.header-bookmarks:active,
.header-shoping-cart:active{
	background-color: var(--blue-active);
	color: rgba(var(--rgb-basic-white), .5);
}

.header-checkout:active{
	background-color: var(--basic-green);
	color: rgba(var(--rgb-basic-white), .5);
}

	/*2nd part*/

.header-wrapper{
	background-color: var(--basic-background);
}

.header-account-container{
  display: flex;
  justify-content: space-between;
  margin-top: 49px;
}
.header-contacts{
  text-align: center;
}

.header-brief-info{
	font-size: 16px;
	line-height: 23px;
	color: var(--basic-red);
	font-style: italic;
  margin: 0;
  margin-left: 30px;
}

.header-location{
  margin: 0;
}

.account-empty-wrapper{
  width: 270px;
}

.account-empty-roll{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.header-tel{
	border: 2px solid var(--basic-white);
	color: var(--basic-red);
	font-size: 21px;
	font-weight: 700;
	line-height: 30px;
}

.header-location{
	color: var(--main-theme-darker);
	font-size: 14px;
	line-height: 24px;
}

.login-list,
.registration-list{
	list-style: none;
}

.login-link,
.registration-link{
	font-size: 21px;
	line-height: 21px;
	color: var(--basic-black);
	background-color: var(--basic-white);
}



.login-link:hover,
.login-link:focus,
.registration-link:hover,
.registration-link:focus{
	color: var(--basic-red);
}

.login-icon{
	fill: var(--basic-greylight);
}

.login-link:hover .login-icon,
.login-link:focus .login-icon{
	fill: var(--main-theme);
}

.login-link:active,
.registration-link:active,
.login-link:active .login-icon{
	color: var(--basic-greylight);
}

  /*3d part*/

.header-nav-roll{
  margin: 0;
  padding: 0;
  display: flex;

}

.header-nav{
	background-color: var(--main-theme);
	box-shadow: inset 0px -5px 0px var(--main-theme-darker);
  margin-top: 45px;
  margin-bottom: 60px;
}

.header-nav-list{
	list-style: none;
  flex-grow: 1;
  text-align: center;
}

.header-nav-link{
	line-height: 24px;
	color: var(--basic-white);
}

.header-nav-link:hover,
.header-nav-link:focus{
	background-color: var(--main-theme-darker);
}

.header-nav-link:active{
	background-color: var(--navy-blue);
	color: rgba(var(--rgb-basic-white), .5);
	box-shadow: inset 0px -5px 0px var(--main-theme-darker);
}

/*body-part*/
	/*offers*/

.product-roll{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
}

.slider-list{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

.product-list{
	list-style: none;
	color: var(--basic-white);
}

.product-title{
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
  margin: 0;
}

.product-link{
	background-color: rgba(var(--rgb-basic-white), .3);
	color: var(--basic-white);
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: 400;
}

.product-link:hover,
.product-link:focus{
	background-color: rgba(var(--rgb-basic-greylight), .3);
	border: 1px solid rgba(var(--rgb-basic-black), .3);
}

.product-link:active{
	background-color: rgba(var(--rgb-grey-muddy), .3);
	border: none;
}

.product-colored{
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
  box-sizing: border-box;
}

.card-orange{
	background-color: var(--special-yellow);
}

.card-blue{
	background-color: var(--special-blue);
}

.card-orchid{
	background-color: var(--special-lilac);
}

.card-green{
	background-color: var(--special-greenlight);
}

.card-yellow-orange{
	background-color: var(--special-yellow-darker);
}

	/*Popular*/
		/*1st part*/

.popular-products{
  margin-top: 60px;
}

.popular-products-list{
	list-style: none;
}

.popular-products-roll{
  margin: 0;
  padding: 0;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.popular-title-wrapper{
	background-color: var(--white-grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.popular-title{
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--main-theme);
	font-weight: 400;
  margin: 0;
}

.popular-link{
	background-color: var(--basic-red);
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	color: var(--basic-white);
}

.main-button:active{
	background-color: var(--color-error);
}

.past-price{
	color: var(--grey-muddy);
	text-decoration: line-through;
	font-size: 17px;
	line-height: 18px;
	font-family: PT Sans;
}

.present-price{
	color: var(--basic-white);
	font-size: 17px;
	line-height: 18px;
	font-weight: 700;
	background-color: var(--basic-red);
	font-family: PT Sans;
}

		/*2nd part*/
.manufacturers-roll{
  margin: 0;
  padding: 0;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.popular-cards{
  margin-top: 20px;
}

.manufacturers-list{
	list-style: none;
}

.manufacturers-link{
	border: 1px solid var(--light-grey);
}

.manufacturers-link:hover,
.manufacturers-link:focus{
	box-shadow: 0px 4px 20px rgba(var(--rgb-basic-black), 0.15);
}

.manufacturers-link:active{
	box-shadow: 0px 4px 20px rgba(var(--rgb-basic-black), 0.15);
	filter: opacity(.5);
}

	/*Serveces*/

.serveces{
	background-color: var(--basic-background);
}

.serveces-title{
	font-size: 30px;
	line-height: 30px;
	color: var(--basic-black);
	text-transform: uppercase;
	font-weight: 400;
  margin: 0;
}

.serveces-text,
.serveces-slide-text{
	font-family: PT Sans;
	font-weight: 400;
	font-size: 13px;
	line-height: 24px;
	color: var(--basic-black);
  margin: 0;
}

.serveces-list{
	list-style: none;
}

.serveces-slide-title{
	font-size: 30px;
	line-height: 30px;
	color: var(--main-theme);
	text-transform: uppercase;
	font-weight: 400;
}

.serveces-roll{
  margin: 0;
  padding: 0;
}

	/*Company*/

.company-n-contacts{
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 70px;
}

.about-company{
	color: var(--basic-black);
  width: 460px;
}

.about-company-title{
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 400;
  margin: 0;
}

.about-company-text{
	font-family: PT Sans;
	font-weight: 400;
	font-size: 13px;
	line-height: 24px;
  margin: 0;
}

.about-company-roll{
  margin: 0;
  padding: 0;
}

.about-company-list{
	list-style: none;
}

.about-company-link{

	line-height: 24px;
	color: var(--basic-black);
}

.url-about-company{
	background-color: var(--basic-red);
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	color: var(--basic-white);
}

	/*Contacts*/
.contacts{
  width: 300px;
}

.contacts-header{
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-black);
	font-weight: 400;
  margin: 0;
}

.contacts-text{
	font-size: 13px;
	line-height: 24px;
	font-family: PT Sans;
	font-weight: 400;
	color: var(--basic-black);
  margin: 0;
}


.contacts-help{
	background-color: var(--basic-red);
	color: var(--basic-white);
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
}

.map{
	background-color: var(--main-theme)
}

/*footer*/
	/*1st part*/


.footer-first-layer{
	background-color: var(--main-theme);
  padding-bottom: 55px;
}

.footer-first-container{
  display: flex;
  justify-content: space-between;
}

.footer-second-layer{
	background-color: var(--main-theme-darker);
}

.footer-nav-wrapper{
  display: flex;
  flex-direction: column;
  align-self: center;
}

.footer-nav-roll{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.footer-offers-roll{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.footer-location{
  margin: 0;
}

.footer-location,
.footer-phonenumber{
	line-height: 24px;
	color: var(--basic-white);
}

.footer-nav-list,
.footer-offers-list{
	list-style: none;
}

.footer-nav-link{
	color: var(--basic-white);
	line-height: 24px;
}

.footer-offers-link{
	color: var(--special-yellowlight);
	line-height: 24px;
}

.footer-nav-link:hover,
.footer-nav-link:focus,
.footer-offers-link:hover,
.footer-offers-link:focus{
	text-decoration: underline;
}

.footer-nav-link:active,
.footer-offers-link:active{
	text-decoration: none;
	opacity: .5;
}

	/*2nd part*/

.footer-second-container{
  display: flex;
  justify-content: space-between;
}

.social-networks-roll{
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-feedback-wrapper{
  display: flex;
  justify-content: space-between;
}

.footer-address{
	font-size: 16px;
	line-height: 18px;
	font-style: normal;
	color: var(--basic-white);
}

.social-list{
	list-style: none;
}

.social-backround{
	background-color: var(--special-blue-dark);
	width: 44px;
	height: 44px;
	border-radius: 50%;
}

.feedback-title,
.developed-title{
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-white);
	font-weight: 400;
  margin: 0;
}

.feedback-link,
.developed-link{
	font-size: 16px;
	line-height: 18px;
	color: var(--special-yellowlight);
}


.social-backround:hover,
.social-link:focus .social-backround,
.social-backround:active{
	background-color: var(--basic-red);
}

.feedback-link:hover,
.feedback-link:focus,
.developed-link:hover,
.developed-link:focus{
	text-decoration: underline;
}

.feedback-link:active,
.developed-link:active{
	color: var(--basic-red);
	text-decoration: none;
}

/*===================================================*/
/*====================Catalog========================*/
/*===================================================*/

/*Header*/
	/*Profile*/

.profile-name-wrapper{
	background-color: var(--basic-white);
}

.profile-name-roll{
  margin: 0;
  padding: 0;
  display: flex;
}

.profile-navigation-roll{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.profile-name-text{
	color: var(--basic-black);
	font-size: 21px;
	line-height: 21px;
}

.profile-nav-link{
	color: var(--main-theme);
	font-size: 16px;
	line-height: 18px;
}

.profile-nav-list,
.profile-name-list{
	list-style: none;
}



.logout-icon:hover,
.profile-icon:hover{
	fill: var(--main-theme);
}

.profile-link:focus .profile-icon,
.logout-link:focus .logout-icon{
	fill: var(--main-theme);
}

.logout-icon,
.profile-icon,
.logout-icon:active,
.profile-icon:active{
	fill: var(--basic-greylight);
}

.profile-name-text:active{
	color: var(--basic-greylight);
}

.profile-nav-link:hover,
.profile-nav-link:focus{
	color: var(--basic-red);
}

.profile-nav-link:active{
	color: var(--basic-greylight);
}

/*body-parts*/
	/*breadcrumbs*/

.breadcrumbs-link{
	font-family: PT Sans;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
	color: var(--basic-black);
	text-transform: uppercase;
}

.breadcrumbs-list{
	list-style: none;
}

.product-head{
	font-weight: 400;
	color: var(--main-theme);
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	background-color: var(--h-grey);
  grid-column: 1/-1;
  margin: 0;
}

.breadcrumbs-roll{
  margin: 0;
  padding: 0;
  display: flex;
}


  /*--------*/

.product-container{
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 20px;
}

  /*------*/

	/*filter*/

.filter-text,
.sort-text{
  margin: 0;
  padding: 0;
	font-size: 13px;
	line-height: 18px;
	font-family: PT Sans;
	font-weight: 400;
	background-color: var(--basic-beige);
	color: var(--basic-black);
	text-transform: uppercase;
}

.filter-subtitle{
	font-family: PT Sans;
	font-weight: 700;
	font-size: 17px;
	line-height: 30px;
	color: var(--basic-black);
	text-transform: uppercase;
}

.filter-part{
	border: none;
	border-bottom: 1px solid var(--light-grey);
}

.filter-list{
	list-style: none;
}

.filter-part:last-child{
	border-bottom: none;
}

.filter-label{
	font-family: PT Sans;
	font-weight: 400;
	font-size: 15px;
	line-height: 19px;
	color: var(--basic-black);
	text-transform: uppercase;
}

.filter-apply{
	border: 1px solid var(--light-grey);
	background-color: transparent;
	font-family: PT Sans;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
}

	/*sort*/

.sort{
	background-color: var(--basic-beige);
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-content: space-between;
}

.sort-roll{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.sort-list{
	list-style: none;
}

.sort-link{
	color: var(--basic-greylight);
	border-bottom: 1px dotted var(--basic-red);
	font-family: PT Sans;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
}

.sort-up .sort-icon{
	transform: rotate(180deg);
}

.sort-icon{
	fill: var(--basic-greylight);
}

.sort-link:hover,
.sort-link:focus{
	color: var(--basic-black);
	border-bottom: 1px solid var(--basic-red);
}

.sort-icon:hover,
.sort-direction:focus .sort-icon{
	fill: var(--basic-black);
}

.sort-active .sort-link{
	border: none;
	color: var(--basic-red);
}

.sort-active .sort-icon{
	fill: var(--basic-red);
}

	/*articles*/

.product-card-roll{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.product-card-list{
	list-style: none;
}

.product-card{
	border: 1px solid var(--light-grey);
}

.product-card-link{
	color: var(--basic-black);
	line-height: 20px;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
}

.product-card:hover{
	box-shadow: 0px 4px 20px rgba(var(--rgb-basic-black), 0.15);
}

.buy-list{
	list-style: none;
}

.buy-link:hover{
	background-color: var(--color-success);
}

.buy-link:active{
	background-color: var(--special-dark-green);
}

.to-bookmarks-link{
	color:var(--main-theme);
}

.to-bookmarks-link:hover,
.to-bookmarks-link:focus{
	border-color: var(--main-theme);
}

.to-bookmarks-link:active{
	opacity: .3;
}



.buy-link,
.to-bookmarks-link{
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.buy-link{
	background-color: var(--basic-green);
	color: var(--basic-white);
	box-shadow: inset 0px -3px 0px #367315;
}

.to-bookmarks-link{
	border: 3px solid var(--basic-green);
	background-color: transparent;
}

.pages{
  grid-column: 2;
}

.pages-roll{
  padding: 0;
  margin: 0;
  display: flex;
}


.pages-list{
	list-style: none;
}

.pages-link{
	border: 1px solid var(--light-grey);
	color: var(--basic-black);
	font-family: PT Sans;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 18px;
}

.active-pages{
	border: none;
	background-color: var(--basic-red);
	color: var(--basic-white);
}

.pages-link:hover{
	border-color: var(--basic-greylight);
}

.pages-link:active{
	border-color: var(--basic-red);
}

	/*description*/

.product-description{
	background-color: var(--basic-background);
}

.product-description-title{
	color: var(--basic-black);
	text-transform: uppercase;
	font-size: 30px;
	line-height: 30px;
}

.product-description-text{
	font-family: PT Sans;
	color: var(--basic-black);
	font-size: 13px;
	line-height: 24px;
}
